<?xml version="1.0"?>
<data>
    <!-- skipRows: this should include all the header rows apart from the field identifier. Starts with 0, separate with comma -->
    <!-- skipRows: 用来来跳过所有注释性质的表头，从0开始，逗号分割 -->
    <!-- separators: whatever you used to separate arries in your sheets-->
    <!-- separators: 表格中用于分隔数组的分隔符-->
    <sheet path="tables/Weapons.xlsx" sheetName="Guns" skipRows="0" separator=","/>
    <fieldNames idField="ID" name='Name' damageDistanceSegmentation="DamageDisSeg" damageSegmentation="DamageSeg" bulletsPerShot="BulletsPerShot" fireInterval="FireInterval"/>
    <!-- interpolation: types of interpolation methods: hv, vh, hvh, vhv, spline, linear, see https://plotly.com/python/line-charts/ for details -->
    <!-- interpolation: 不同的插值方式包括: hv, vh, hvh, vhv, spline, linear, 详见官方文档的Interpolation部分详解 https://plotly.com/python/line-charts/ -->
    <general interpolation="vh" health="100"/>
</data>